* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Scroll Reveal Animation */
section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 1s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(60deg, #1b3e46, #153137);
}

/* Navbar */
.navbar-container {
    width: 100%;
    padding: 0.7rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(145deg, #153137 0%, #193940 100%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s;
}

/* Navbar */
.navbar-container {
    background: #153137;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.logo h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #7ABFA5;
}

.logo span {
    color: #9BF272;
    letter-spacing: 0.5px;
}

.nav-list ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list a {
    text-decoration: none;
    color: #BAC8D9;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    transition: color 0.3s, transform 0.3s;
}

.nav-list a.active {
    color: #9BF272;
    text-shadow: 0 0 15px #9BF272, 0 0 1px #9BF272;
    font-weight: bold;
}

.nav-list a:hover {
    color: #9BF272;
    text-shadow: 0 0 15px #9BF272, 0 0 1px #9BF272
}

.nav-list ul li:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}


/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

/* Introduction Section */
.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 4.5%;
    margin-bottom: 2rem;
}

.intro {
    text-align: left;
    max-width: 500px;
    color: #ffffff;
}

.intro h2 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.intro span {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.intro p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #9BF272;
    margin: 1rem 0;
    letter-spacing: 0.5px;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 1rem 1.7rem;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 0.8px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.btn.download {
    background-color: #446b73;
    width: 9rem;
    height: 4rem;
}

.btn.contact {
    background-color: transparent;
    color: #ffffff;
    border: 4px solid #446b73;
    width: 9rem;
    height: 4rem;

}

.btn.contact a {
    color: white;
    text-decoration: none;
}

.btn.contact a:hover {
    color: black;
}

.btn:hover {
    transform: scale(1.04);
    background-color: #9BF272;
    color: black;
    box-shadow: 0 0 10px #9BF272, 0 0 1px #9BF272;
}


/* Image */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.circular-image {
    width: 300px;
    height: 300px;
    border-radius: 40% 25% 40% 25%;
    object-fit: cover;
    border: 3px solid #BAC8D9;
    animation: border-animation 2s infinite alternate;
}

.social-media {
    display: flex;
    gap: 2rem;
    margin-top: 0.4rem;
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
    transition: transform 0.2s;

}

.social-media li:hover {
    display: inline-block;
    transform: scale(1.1);
    animation: position 2s infinite alternate;
}

.social-media a {
    color: #BAC8D9;
    font-size: 1.9rem;
    text-decoration: none;
}

.social-media a:hover {
    color: #9BF272;
    transition: transform 0.2s;
    text-shadow: 0 0 10px #9BF272, 0 0 1px #9BF272
}

/* About Section */
#about {
    position: relative;
    display: flex;
    min-height: 100vh;
    gap: 6rem;
    padding-top: 9%;
    margin-bottom: 2rem;
}

.about-section {
    width: 100%;
    max-height: auto;
    margin: auto auto;
    padding: 2rem;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #1c4751;
    flex-direction: row;
}

.about-section h2 {
    font-size: 2.5rem;
    color: #9BF272;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
}

.about-section p {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
    text-align: justify;
}

.about-aside {
    max-width: 335px;
    padding: 2.0rem;
    margin: auto auto;
    background-color: #1f4f56;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-aside img {
    width: 150px;
    display: block;
    margin: -3rem auto 2rem;
}

.about-aside h3 {
    font-size: 1rem;
    color: #f4f4f4;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    letter-spacing: 0.4px;
}

.about-aside p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #f4f4f4;
    text-align: justify;
    margin-bottom: 0.2rem;
}

.about-aside p a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: 800;
}

/* Skills Section */
.skills-section {
    width: 100%;
    text-align: center;
    padding-top: 8.5%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    margin-bottom: 2rem;
}

.skills-section h2 {
    font-size: 4rem;
    color: #9BF272;
    margin-bottom: 5rem;
    letter-spacing: 0.5px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;
    justify-content: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.skill-item img {
    width: 97px;
    height: 97px;
    position: relative;
    margin-bottom: 0.5rem;
    object-fit: contain;
    transition: transform 0.2s;
}

.skill-item img:hover {
    transform: scale(1.1);
    /* Efek zoom saat di-hover */
}

.skill-item span {
    font-size: 1.41rem;
    font-weight: bold;
    color: #BAC8D9;
    letter-spacing: 0.5px;
}

/* Certificates Section */
.certificate-section {
    width: 100%;
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    padding-top: 8.5%;
    margin-bottom: 2rem;
}

.certificate-section h2 {
    font-size: 3rem;
    color: #9BF272;
    margin-bottom: 3.5rem;
    letter-spacing: 0.5px;
}

.certificate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.certificate-item img {
    width: 23rem;
    height: auto;
    object-fit: contain;
    transition: transform 0.2s;
}

.certificate-item img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px #ffffff, 0 0 1px #ffffff
}

/* Contact Section */
.contact-section {
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 2rem;
    background-color: #1c4751;
    padding-top: 10%;
    min-height: 100vh;

}

.contact-section h2 {
    font-size: 3.3rem;
    color: #9BF272;
    margin-bottom: 1rem;
}

.contact-section p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
}

/* Layout for Contact Content */
.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* Contact Details Styling */
.contact {
    width: 100%;
    max-width: 350px;
    padding: 1.5rem;
    background-color: #153137;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
}

.contact-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.2s;
}

.contact-item i {
    font-size: 2.3rem;
    transition: transform 0.2s;
}

.contact-item span {
    font-size: 1rem;
    font-weight: bold;
    color: #BAC8D9;
}

.contact-item a:hover i {
    transform: scale(1.1);
    text-shadow: 0 0 3px #9BF272, 0 0 1px #9BF272;
}

.contact-item a:hover span {
    color: #9BF272;
    text-shadow: 0 0 15px #9BF272, 0 0 1px #9BF272;
}

/* Map Styling */
.contact-map {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color: #BAC8D9;
    font-size: 1rem;
    background-color: #153137;
}

/* Animation*/
@keyframes border-animation {
    0% {
        border-color: #BAC8D9;
        border-width: 3px;
    }

    100% {
        border-color: #9bf272;
        border-width: 3px;
    }
}

@keyframes position {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3.5px);
    }
}

/* Responsive Design */
@media (max-width: 1200px) {
    .logo h1 {
        font-size: 2rem;
    }

    .nav-list ul {
        gap: 1.5rem;
    }

    .intro h2 {
        font-size: 3.5rem;
    }

    .intro-section {
        gap: 5rem;
    }

    #about {
        margin: auto 2rem;
    }
}

@media (max-width: 1024px) {
    .navbar-container {
        padding: 0.7rem 2rem;
    }

    .logo h1 {
        font-size: 1.8rem;
    }

    .circular-image {
        width: 250px;
        height: 250px;
    }

    .buttons .btn {
        font-size: 0.9rem;
        padding: 0.8rem 1.5rem;
    }

    .nav-list a {
        font-size: 1.2rem;
    }

    .intro h2 {
        font-size: 2.7rem;
    }

    .intro-section {
        flex-direction: column;
        text-align: center;
    }

    #about {
        margin: auto 2rem;
    }

    .about-section p {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        padding: 0.05rem 1.5rem;
    }

    .nav-list a {
        font-size: 1rem;
    }

    .intro h2 {
        font-size: 2.5rem;
    }

    .circular-image {
        width: 250px;
        height: 250px;
    }

    .buttons .btn {
        font-size: 0.9rem;
        padding: 0.8rem 1.5rem;
    }

    .skills-container {
        gap: 6rem;
    }

    .certificate-list {
        flex-direction: column;
        gap: 2rem;
    }

    .about-section p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 0.3rem 1rem;
    }

    .nav-list a {
        font-size: 0.8rem;
    }

    .logo h1 {
        font-size: 1.6rem;
    }

    .intro h2 {
        font-size: 2rem;
    }

    .intro p {
        font-size: 1.2rem;
    }

    .buttons .btn {
        font-size: 0.8rem;
        padding: 0.7rem 1.2rem;
    }

    .about-section,
    .skills-section,
    .certificate-section,
    .contact-section {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .skills-container,
    .certificate-list {
        gap: 1rem;
        flex-direction: column;
    }
}